body{
    font-family: 'Poppins', sans-serif;
}
.diet{
    color:orange;
}
a{
    background-image: linear-gradient(orange,red);
    color:white;
    text-decoration: none;
    border: 30px;
    border-radius: 20px;
    padding: 10px;
}
.f-div{
    width: 80%;
    margin: 30px;
    padding:10px;

}

.m-cls{
    display: flex;
    width: 100%;
}
.back{
    background-image: url("Frame 58.jpg");
    background-repeat: no-repeat;
}
.n-div{
    border: 20px;
    padding: 50px;
}
.recipe{
    text-align: center;
    margin: 20px;
}
.sec-c
{
    display: flex;
}
.food{
        width:30%;
        height: auto;
        box-shadow:gray 10px 10px 10px 10px;
        border: 5px;
        padding: 10px;
        margin: 10px 10px 10px 10px;
        display:flex;
        border-radius: 15px;
    
}
.container{
    width:30%;
    height: auto;
    box-shadow:gray 10px 10px 10px 10px;
    border: 5px;
    padding: 10px;
    margin: 10px 10px 10px 10px;
    display: inline-flex;
    float: left;
    border-radius: 15px;
    box-sizing:border-box;
}
.imga{
    image: url("daal.png");
}
.new-sc
{
    display: flex;
    margin: 40px;
    padding: 5px;
}
.foot{
    text-align: center;
    background: black;
    color: white;
}
.rest{
    display: flex;
    padding: 15px;
    border:20px;
    width: 100%;
    orientation: center;
}
.new{
    background-image: url("Frame 59.jpg");
    width: 100%;
}
.xtra{
    background-image: url("Frame\ 56.jpg");
}
.last{
    text-align: center;
}
.cel{
    color: red;
}
.rep{
    text-align: center justify;
}
.insta{
    color: green;
}
.shot{
    color: rgb(18, 58, 236);
}